<section data-fls-index class="hero">
	<div class="hero__video">
		<!-- <video class="hero__video-media" preload="auto" muted playsinline> -->
		<video class="hero__video-media" class="hero__video-media" preload="auto" muted playsinline autoplay loop>
			<!-- <source src="@files/hero-vid.webm" type="video/webm"> -->
			<source src="@files/hero-vid.mp4" type="video/mp4">
		</video>
	</div>

	<div class="hero__content">
		<div class="hero__container">
			<h1 class="hero__title">
				simplifies <br> the measurement of cardiovascular risk
			</h1>

			<div class="hero__actions">
				<span class="hero__actions-label">
					scroll to explore
				</span>

				<span class="hero__actions-button">
					<svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
						<path d="M6.39173 -1.88737e-05L6.39173 12.256M12.2885 6.35923L6.39173 12.256L0.494976 6.35923"
							stroke="currentColor" stroke-width="1.4" />
					</svg>
				</span>
			</div>
		</div>
	</div>
</section>