<div data-fls-index data-scroll-story class="index scroll-story">
	<section class="hero stack-panel" data-stack-panel>
		<div class="hero__video">
			<video class="hero__video-media" preload="auto" muted playsinline webkit-playsinline>
				<source src="@files/hero-vid-1.mp4" type="video/mp4" />
			</video>
		</div>

		<div class="hero__content">
			<div class="hero__container">
				<h1 class="hero__title">
					simplifies <br />
					the measurement of cardiovascular risk
				</h1>

				<div class="hero__actions">
					<span class="hero__actions-label"> scroll to explore </span>

					<span class="hero__actions-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
							<path
								d="M6.39173 -1.88737e-05L6.39173 12.256M12.2885 6.35923L6.39173 12.256L0.494976 6.35923"
								stroke="currentColor" stroke-width="1.4" />
						</svg>
					</span>
				</div>

				<div class="hero__content-next" data-hero-video-cue>
					<p class="hero__content-text">
						A non-invasive, operator independent solution for assessing
						arterial stiffness by measuring pulse wave velocity.
					</p>
					<a href="#" class="hero__content-link button button--primary">
						Discover
					</a>
				</div>
			</div>
		</div>
	</section>

	<div data-stack-panel class="sections-wrapper">
		<section class="how-works">
			<div class="how-works__container">
				<div class="how-works__head">
					<span class="how-works__label">
						How it works
					</span>

					<h2 class="how-works__title section-title">
						Prevent cardiovascular risks with the
						<span class="orange">pOpmètre</span>
					</h2>
				</div>

				<div class="how-works__content">
					<div class="how-works__content-left">
						<div class="how-works__slider-navigation">
							<button type="button" aria-label="previous slide"
								class="how-works__swiper-button-prev swiper-button">
								<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19"
									fill="none">
									<path
										d="M13.0671 4.19823L12.0061 3.16231L6.22706 8.80808C6.1339 8.89854 6.05997 9.00612 6.00952 9.12461C5.95908 9.24311 5.93311 9.37019 5.93311 9.49853C5.93311 9.62687 5.95908 9.75395 6.00952 9.87244C6.05997 9.99094 6.1339 10.0985 6.22706 10.189L12.0061 15.8377L13.0661 14.8018L7.64206 9.49999L13.0671 4.19823Z"
										fill="#404040" />
								</svg>

							</button>
							<div class="how-works__slider-navigation">
								<div data-fls-slider class="how-works__nav-slider swiper">
									<div class="how-works__nav-wrapper swiper-wrapper">
										<div class="how-works__nav-slide swiper-slide">
											Class IIa Medical Device
										</div>

										<div class="how-works__nav-slide swiper-slide">
											Cardiovascular Risk Prevention
										</div>

										<div class="how-works__nav-slide swiper-slide">
											Rapid Vascular Assessment
										</div>

										<div class="how-works__nav-slide swiper-slide">
											Non-Invasive Clinical Solution
										</div>
									</div>
								</div>
							</div>
							<button type="button" aria-label="next slide"
								class="how-works__swiper-button-next swiper-button">
								<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19"
									fill="none">
									<path
										d="M5.93294 4.19823L6.99394 3.16231L12.7729 8.80808C12.8661 8.89854 12.94 9.00612 12.9905 9.12461C13.0409 9.24311 13.0669 9.37019 13.0669 9.49853C13.0669 9.62687 13.0409 9.75395 12.9905 9.87244C12.94 9.99094 12.8661 10.0985 12.7729 10.189L6.99394 15.8377L5.93394 14.8018L11.3579 9.49999L5.93294 4.19823Z"
										fill="#404040" />
								</svg>

							</button>
						</div>
						<div data-fls-slider class="how-works__content-slider swiper">
							<div class="how-works__content-wrapper swiper-wrapper">
								<div class="how-works__content-slide swiper-slide">
									<h3 class="how-works__content-slide-title">
										Class IIa Medical Device with Clinical Validation
									</h3>
									<div class="how-works__content-slide-text">
										<p>
											An innovative, non-operator-dependent, clinically-validated medical device
											that predicts cardiovascular risk in seconds by measuring arterial
											stiffness.
										</p>
									</div>
									<button type="button"
										class="how-works__content-slide-button button button--primary">
										Learn More
									</button>
								</div>

								<div class="how-works__content-slide swiper-slide">
									<h3 class="how-works__content-slide-title">
										A New Standard in Cardiovascular Prevention
									</h3>
									<div class="how-works__content-slide-text">
										<p>
											The pOpmètre® revolutionizes cardiovascular prevention by measuring pulse
											wave velocity (PWV) and calculating ankle brachial index and central
											pressures.
										</p>
									</div>
									<button type="button"
										class="how-works__content-slide-button button button--primary">
										Learn More
									</button>
								</div>

								<div class="how-works__content-slide swiper-slide">
									<h3 class="how-works__content-slide-title">
										Rapid and Patient-Friendly Diagnostic Insights
									</h3>
									<div class="how-works__content-slide-text">
										<p>
											The advantage of the pOpmètre® is also to provide the patient with a clear
											data point : vascular age, a more motivating indicator to help patients
											adopt healthy lifestyles.
										</p>
									</div>
									<button type="button"
										class="how-works__content-slide-button button button--primary">
										Learn More
									</button>
								</div>

								<div class="how-works__content-slide swiper-slide">
									<h3 class="how-works__content-slide-title">
										Efficient, Reliable and Non-Invasive Screening
									</h3>
									<div class="how-works__content-slide-text">
										<p>
											Its high reproducibility, compact format, and easy use make the pOpmètre® an
											asset for all medical specialties.
										</p>
									</div>
									<button type="button"
										class="how-works__content-slide-button button button--primary">
										Learn More
									</button>
								</div>
							</div>
						</div>
					</div>

					<div data-fls-dynamic=".how-works__content-left, 991.98" class="how-works__content-right">
						<div data-fls-slider class="how-works__thumbs-slider swiper">
							<div class="how-works__thumbs-wrapper swiper-wrapper">
								<div class="how-works__thumbs-slide swiper-slide">
									<img src="@img/how-works/slider-min-img1.png" alt="Image">
								</div>

								<div class="how-works__thumbs-slide swiper-slide">
									<img src="@img/how-works/slider-min-img2.png" alt="Image">
								</div>

								<div class="how-works__thumbs-slide swiper-slide">
									<img src="@img/how-works/slider-min-img3.png" alt="Image">
								</div>
								<div class="how-works__thumbs-slide swiper-slide">
									<img src="@img/how-works/slider-min-img4.png" alt="Image">
								</div>
							</div>
						</div>

						<div data-fls-slider class="how-works__media-slider swiper">
							<div class="how-works__media-wrapper swiper-wrapper">
								<div class="how-works__media-slide swiper-slide">
									<img src="@img/how-works/slider-img1.png" alt="Image">
								</div>

								<div class="how-works__media-slide swiper-slide">
									<img src="@img/how-works/slider-img2.png" alt="Image">
								</div>

								<div class="how-works__media-slide swiper-slide">
									<img src="@img/how-works/slider-img3.png" alt="Image">
								</div>
								<div class="how-works__media-slide swiper-slide">
									<img src="@img/how-works/slider-img4.png" alt="Image">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="partners">
			<div class="partners__container">
				<h2 class="partners__title section-title">
					Our Partners
				</h2>
				<ul class="partners__list">
					<li class="partners__item">
						<img src="@img/partners/dijon.png" alt="dijon">
					</li>
					<li class="partners__item">
						<img src="@img/partners/snitem.png" alt="snitem">
					</li>
					<li class="partners__item partners__item--gradient">
						<img src="@img/partners/bpifrance.png" alt="bpifrance">
					</li>
					<li class="partners__item">
						<img src="@img/partners/hopitaux.png" alt="hopitaux">
					</li>
					<li class="partners__item">
						<img src="@img/partners/transmedtech.png" alt="transmedtech">
					</li>
				</ul>
			</div>
		</section>
	</div>

	<section data-stack-panel class="reveal">
		<div class="reveal__slides">
			<div class="reveal__slide">
				<img src="@img/reveal/bg1.png" alt="Image">
				<div class="reveal__container">
					<div class="reveal__slide-content">
						<h3 class="reveal__slide-content-title">
							Clinics and Hospitals
						</h3>
						<div class="reveal__slide-content-text">
							<p>
								The pOpmètre® is an asset for both you and your patients: cardiovascular risk
								measurement
								and assessment can be carried out in just a few minutes, while respecting your patients'
								privacy.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="reveal__slide">
				<img src="@img/reveal/bg2.png" alt="Image">
				<div class="reveal__container">
					<div class="reveal__slide-content">
						<h3 class="reveal__slide-content-title">
							General practitioners
						</h3>
						<div class="reveal__slide-content-text">
							<p>
								With the pOpmètre®, introduce the measurement of arterial elasticity into the care
								pathway,
								thus promoting screening and prevention of cardiovascular risks.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="reveal__slide">
				<img src="@img/reveal/bg3.png" alt="Image">
				<div class="reveal__container">
					<div class="reveal__slide-content">
						<h3 class="reveal__slide-content-title">
							Specialized physicians
						</h3>
						<div class="reveal__slide-content-text">
							<p>
								The pOpmètre® assesses arterial stiffness, an essential biomarker for the prevention of
								stroke, heart attack and cognitive impairment.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="reveal__slide">
				<img src="@img/reveal/bg4.png" alt="Image">
				<div class="reveal__container">
					<div class="reveal__slide-content">
						<h3 class="reveal__slide-content-title">
							Multidisciplinary health centers
						</h3>
						<div class="reveal__slide-content-text">
							<p>
								The advantage of the pOpmètre® is also to provide important data to the patient so that
								they
								can visualize and become fully aware of their health status.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="reveal__container cnt-wrp">
			<div class="reveal__header">
				<h2 class="reveal__title section-title section-title--white">
					Refining Cardiovascular Risk Assessment Through Pulse Wave Velocity Measurement
				</h2>
				<a href="#" class="reveal__content-link button button--primary">
					Learn More
				</a>
			</div>
			<div class="reveal__progress">
				<svg class="reveal__progress-svg" viewBox="0 0 10 400" preserveAspectRatio="none">
					<line class="reveal__progress-track" x1="5" y1="0" x2="5" y2="400" />

					<line class="reveal__progress-fill" x1="5" y1="0" x2="5" y2="0" />
				</svg>
				<div class="reveal__progress-label reveal__progress-label--1">
					01
				</div>
				<div class="reveal__progress-label reveal__progress-label--2">
					02
				</div>
				<div class="reveal__progress-label reveal__progress-label--3">
					03
				</div>
				<div class="reveal__progress-label reveal__progress-label--4">
					04
				</div>

			</div>
		</div>
	</section>

	<section data-stack-panel class="trust">
		<div class="trust__container">
			<div class="trust__head">
				<h2 class="trust__title section-title">
					They trust us
				</h2>
				<div class="trust__slider-navigation">
					<button type="button" aria-label="previous slide" class="trust__swiper-button-prev swiper-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
							<path
								d="M13.0671 4.19823L12.0061 3.16231L6.22706 8.80808C6.1339 8.89854 6.05997 9.00612 6.00952 9.12461C5.95908 9.24311 5.93311 9.37019 5.93311 9.49853C5.93311 9.62687 5.95908 9.75395 6.00952 9.87244C6.05997 9.99094 6.1339 10.0985 6.22706 10.189L12.0061 15.8377L13.0661 14.8018L7.64206 9.49999L13.0671 4.19823Z"
								fill="#404040" />
						</svg>
						<div class="trust__slider-progress"></div>
					</button>
					<div class="trust__swiper-pagination swiper-pagination"></div>
					<button type="button" aria-label="next slide" class="trust__swiper-button-next swiper-button">
						<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
							<path
								d="M5.93294 4.19823L6.99394 3.16231L12.7729 8.80808C12.8661 8.89854 12.94 9.00612 12.9905 9.12461C13.0409 9.24311 13.0669 9.37019 13.0669 9.49853C13.0669 9.62687 13.0409 9.75395 12.9905 9.87244C12.94 9.99094 12.8661 10.0985 12.7729 10.189L6.99394 15.8377L5.93394 14.8018L11.3579 9.49999L5.93294 4.19823Z"
								fill="#404040" />
						</svg>

					</button>
				</div>
			</div>
			<div data-fls-slider class="trust__slider swiper">
				<div class="trust__wrapper swiper-wrapper">
					<div class="trust__slide swiper-slide">
						<div class="trust__slide-img">
							<img src="@img/trust/img1.png" alt="Image">
						</div>
						<div class="trust__slide-content">
							<h3 class="trust__slide-content-title">
								Elysabeth | Women's Heart Health Day
							</h3>
							<div class="trust__slide-content-text">
								<p>
									"They told me I had the arteries of a 52-year-old!" At 67, Elysabeth lives in
									Chaniers, near Saintes, and decided to take a proactive approach to her health.
								</p>
								<p>
									"I have no family history of cardiovascular disease, but this was a great
									opportunity for a full check-up, close to home. I took advantage of it!"
								</p>
							</div>
							<time datetime="2025-05-07" class="trust__slide-content-date">
								2025-05-07
							</time>
						</div>
					</div>
					<div class="trust__slide swiper-slide">
						<div class="trust__slide-img">
							<img src="@img/trust/img2.png" alt="Image">
						</div>
						<div class="trust__slide-content">
							<h3 class="trust__slide-content-title">
								Chantal, 61 ans
							</h3>
							<div class="trust__slide-content-text">
								<p>
									<span class="underlined">Clinical case:</span> Ischemic stroke, no hypertension,
									diabetes or cholesterol. Investigated after rigorous medical evaluation, including
									one-week ECG Holter and endoesophageal PWV of 20 m/s (equivalent to vascular age of
									100 years).
								</p>
								<p>
									<span class=" underlined">Treatments:</span> ACE inhibitors, beta-blockers, aspirin
									and sports nutrition > antioxidants, coriander and pears, including garlic.
								</p>
								<p>
									<span class=" underlined">Results:</span> Three years later, PWV is 12 m/s
								</p>
							</div>
							<time datetime="2025-05-07" class="trust__slide-content-date">
								2025-05-07
							</time>
						</div>
					</div>
					<div class="trust__slide swiper-slide">
						<div class="trust__slide-img">
							<img src="@img/trust/img3.png" alt="Image">
						</div>
						<div class="trust__slide-content">
							<h3 class="trust__slide-content-title">
								Elysabeth | Women's Heart Health Day
							</h3>
							<div class="trust__slide-content-text">
								<p>
									"They told me I had the arteries of a 52-year-old!" At 67, Elysabeth lives in
									Chaniers, near Saintes, and decided to take a proactive approach to her health.
								</p>
								<p>
									"I have no family history of cardiovascular disease, but this was a great
									opportunity for a full check-up, close to home. I took advantage of it!"
								</p>
							</div>
							<time datetime="2025-05-07" class="trust__slide-content-date">
								2025-05-07
							</time>
						</div>
					</div>
					<div class="trust__slide swiper-slide">
						<div class="trust__slide-img">
							<img src="@img/trust/img1.png" alt="Image">
						</div>
						<div class="trust__slide-content">
							<h3 class="trust__slide-content-title">
								Elysabeth | Women's Heart Health Day
							</h3>
							<div class="trust__slide-content-text">
								<p>
									"They told me I had the arteries of a 52-year-old!" At 67, Elysabeth lives in
									Chaniers, near Saintes, and decided to take a proactive approach to her health.
								</p>
								<p>
									"I have no family history of cardiovascular disease, but this was a great
									opportunity for a full check-up, close to home. I took advantage of it!"
								</p>
							</div>
							<time datetime="2025-05-07" class="trust__slide-content-date">
								2025-05-07
							</time>
						</div>
					</div>
					<div class="trust__slide swiper-slide">
						<div class="trust__slide-img">
							<img src="@img/trust/img2.png" alt="Image">
						</div>
						<div class="trust__slide-content">
							<h3 class="trust__slide-content-title">
								Chantal, 61 ans
							</h3>
							<div class="trust__slide-content-text">
								<p>
									<span class="underlined">Clinical case:</span> Ischemic stroke, no hypertension,
									diabetes or cholesterol. Investigated after rigorous medical evaluation, including
									one-week ECG Holter and endoesophageal PWV of 20 m/s (equivalent to vascular age of
									100 years).
								</p>
								<p>
									<span class=" underlined">Treatments:</span> ACE inhibitors, beta-blockers, aspirin
									and sports nutrition > antioxidants, coriander and pears, including garlic.
								</p>
								<p>
									<span class=" underlined">Results:</span> Three years later, PWV is 12 m/s
								</p>
							</div>
							<time datetime="2025-05-07" class="trust__slide-content-date">
								2025-05-07
							</time>
						</div>
					</div>
					<div class="trust__slide swiper-slide">
						<div class="trust__slide-img">
							<img src="@img/trust/img3.png" alt="Image">
						</div>
						<div class="trust__slide-content">
							<h3 class="trust__slide-content-title">
								Elysabeth | Women's Heart Health Day
							</h3>
							<div class="trust__slide-content-text">
								<p>
									"They told me I had the arteries of a 52-year-old!" At 67, Elysabeth lives in
									Chaniers, near Saintes, and decided to take a proactive approach to her health.
								</p>
								<p>
									"I have no family history of cardiovascular disease, but this was a great
									opportunity for a full check-up, close to home. I took advantage of it!"
								</p>
							</div>
							<time datetime="2025-05-07" class="trust__slide-content-date">
								2025-05-07
							</time>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section data-stack-panel class="blog">
		<div class="blog__container">
			<div class="blog__head">
				<div class="blog__label">
					The Blog
				</div>
				<h2 class="blog__title section-title">
					Discover our articles,<br>
					our advice, our events & more
				</h2>
			</div>
			<div class="blog__content">
				<article class="blog__article">
					<div class="blog__article-img">
						<img src="@img/blog/img1.png" loading="lazy" decoding="async" alt="Image">
					</div>
					<time datetime="22.06.2026" class="blog__time">
						22.06.2026
					</time>
					<h3 class="blog__article-title">
						Sleep Disorders and Arterial Stiffness
					</h3>
					<div class="blog__text">
						<p>
							The association between sleep disorders and cardiovascular risk has been demonstrated in
							numerous studies; as both a risk factor and a preventive measure, each aspect of sleep
							influences the likelihood of a cardiovascular event occurring.
						</p>
					</div>
				</article>
				<article class="blog__article">
					<div class="blog__article-img">
						<img src="@img/blog/img1.png" loading="lazy" decoding="async" alt="Image">
					</div>
					<time datetime="22.06.2026" class="blog__time">
						22.06.2026
					</time>
					<h3 class="blog__article-title">
						Sleep Disorders and Arterial Stiffness
					</h3>
					<div class="blog__text">
						<p>
							The association between sleep disorders and cardiovascular risk has been demonstrated in
							numerous studies; as both a risk factor and a preventive measure, each aspect of sleep
							influences the likelihood of a cardiovascular event occurring.
						</p>
					</div>
				</article>
				<article class="blog__article">
					<div class="blog__article-img">
						<img src="@img/blog/img1.png" loading="lazy" decoding="async" alt="Image">
					</div>
					<time datetime="22.06.2026" class="blog__time">
						22.06.2026
					</time>
					<h3 class="blog__article-title">
						Sleep Disorders and Arterial Stiffness
					</h3>
					<div class="blog__text">
						<p>
							The association between sleep disorders and cardiovascular risk has been demonstrated in
							numerous studies; as both a risk factor and a preventive measure, each aspect of sleep
							influences the likelihood of a cardiovascular event occurring.
						</p>
					</div>
				</article>
			</div>
			<a href="#" class="blog__button button button--primary button--icon">
				Read all Articles
				<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_20_75)">
						<path d="M2.94633 12.8854L11.6126 4.21907M3.27336 4.21907L11.6126 4.21907L11.6126 12.5583"
							stroke-width="1.4" />
					</g>
					<defs>
						<clipPath id="clip0_20_75">
							<rect width="15" height="15" fill="white" />
						</clipPath>
					</defs>
				</svg>
			</a>
		</div>
	</section>

	<section data-stack-panel class="connect">
		<div class="connect__bg">
			<img src="@img/connect/bg.png" loading="lazy" decoding="async" alt="">
		</div>
		<div class="connect__container">
			<div class="connect__head">
				<h2 class="connect__title section-title">
					Stay Connected to Cardiovascular Innovation
				</h2>
				<form data-fls-form class="form-subscribe">
					<div class="form-subscribe__field">
						<label for="email" class="form-subscribe__label sr-only">
							Email address
						</label>

						<input type="email" id="email" name="email" data-fls-form-errtext="Invalid Email Address"
							class="form-subscribe__input" placeholder="Enter e-mail address" autocomplete="email"
							inputmode="email" required aria-required="true">
					</div>

					<button class="form-subscribe__button button button--primary">
						Subscribe
					</button>
				</form>
			</div>
			<div class="connect__bottom">
				<h3 class="connect__bottom-title">
					Stay Informed with Axelife
				</h3>
				<div class="connect__bottom-text">
					<p>
						Receive the latest news, clinical insights and updates on cardiovascular prevention.
					</p>
				</div>
			</div>
		</div>
	</section>

	<div data-stack-panel class="bottom-wrp">
		<section class="faq">
			<div class="faq__container">
				<div class="faq__head">
					<h2 class="faq__title section-title">
						Everything You Need to Know
					</h2>
					<div class="faq__text">
						<p>
							Can’t find the answer you’re looking for? Contact us and our team will be happy to help.
						</p>
					</div>
					<a href="#" class="faq__button button button--primary">
						Contact Us
					</a>
				</div>
				<div data-fls-spollers class="faq__spollers">
					<details data-fls-spollers-open class="faq__spollers-item">
						<summary class="faq__spollers-title">
							<h3>
								What is Plethysmography?
							</h3>
							<span class="faq__spollers-btn"></span>
						</summary>
						<div class="faq__spollers-body">
							<p>
								Plethysmography is a measurement method used to determine volume changes in a specific
								part
								of the body. These volume changes can be caused by variations in the amount of blood or
								air
								in the area concerned.
							</p>
							<p>
								In the medical field, plethysmography is often used to assess lung function by measuring
								changes in air volume in the lungs. This can help diagnose conditions such as asthma or
								chronic obstructive pulmonary disease (COPD).
							</p>
							<p>
								There is also a method called impedance plethysmography, which measures blood volume
								changes, for example in the limbs, by observing changes in the electrical resistance of
								the
								body part concerned. This technique can be used to detect problems such as venous
								insufficiency or edema.
							</p>
						</div>
					</details>
					<details class="faq__spollers-item">
						<summary class="faq__spollers-title">
							<h3>
								What is a Stroke (CVA) ?
							</h3>
							<span class="faq__spollers-btn">
							</span>
						</summary>
						<div class="faq__spollers-body">
							<p>
								A Stroke (Cerebrovascular Accident, or CVA), also known as a 'brain attack,' occurs when
								a
								blood vessel supplying the brain is blocked by a clot (ischemic stroke) or bursts
								(hemorrhagic stroke). As a result, a part of the brain no longer receives the oxygen and
								nutrients it needs, leading to the death of brain cells.
							</p>
							<p>
								Strokes can cause significant and permanent effects depending on the part of the brain
								affected and the duration of the blood flow interruption. Common symptoms include
								difficulty
								speaking, weakness or numbness on one side of the body, vision problems, sudden and
								severe
								headaches, and difficulty walking or imbalance.

							</p>
							<p>
								Strokes are a medical emergency. Rapid treatment is crucial to minimize brain damage and
								prevent other potential complications
							</p>
						</div>
					</details>
					<details class="faq__spollers-item">
						<summary class="faq__spollers-title">
							<h3>
								What is the role of the arteries?
							</h3>
							<span class="faq__spollers-btn">
							</span>
						</summary>
						<div class="faq__spollers-body">
							<p>
								Arteries play an essential role in the circulatory system, transporting oxygenated blood
								from the heart to various parts of the body.
							</p>
							<p>
								They are also involved in regulating blood pressure, thanks to their capacity to
								contract
								and dilate. In this way, arteries contribute to the maintenance of life and the
								functional
								activity of all organs.
							</p>
						</div>
					</details>
					<details class="faq__spollers-item">
						<summary class="faq__spollers-title">
							<h3>
								How to use the pOpmètre® ?
							</h3>
							<span class="faq__spollers-btn">
							</span>
						</summary>
						<div class="faq__spollers-body">
							<p>
								The examination takes just 14 seconds.
							</p>
							<p>
								Before placing the sensors, your patient should lie down for a few minutes in a quiet
								environment. The sensors, similar to those on pulse oximeters, are placed on the finger
								and
								toe, without the need to undress the patient.
							</p>
						</div>
					</details>
					<details class="faq__spollers-item">
						<summary class="faq__spollers-title">
							<h3>
								What are the examination conditions?
							</h3>
							<span class="faq__spollers-btn">
							</span>
						</summary>
						<div class="faq__spollers-body">
							<ul class="faq__spollers-list">
								<li class="faq__list-item">
									Quiet room
								</li>
								<li class="faq__list-item">
									Constant brightness 
								</li>
								<li class="faq__list-item">
									Temperature around 22°C
								</li>
								<li class="faq__list-item">
									Patient lying down
								</li>
							</ul>
						</div>
					</details>
				</div>
			</div>
		</section>
		<footer data-fls-footer class="footer">
			<div class="footer__top top-footer">
				<div class="top-footer__container">
					<div class="top-footer__left">
						<h2 class="top-footer__title">
							Don't miss any information!
						</h2>
						<form data-fls-form class="form-subscribe">
							<div class="form-subscribe__field">
								<label for="email" class="form-subscribe__label sr-only">
									Email address
								</label>

								<input type="email" id="email" name="email"
									data-fls-form-errtext="Invalid Email Address"
									class="form-subscribe__input form-subscribe__input--gray"
									placeholder="Enter e-mail address" autocomplete="email" inputmode="email" required
									aria-required="true">
							</div>

							<button class="form-subscribe__button button button--primary">
								Subscribe
							</button>
						</form>
						<div class="top-footer__text">
							<p>
								Subscribe to email updates and be the first to receive the latest news from Axelife. We
								care about your data in <span class="underlined">our privacy policy.</span>
							</p>
						</div>
					</div>
					<div class="top-footer__right">
						<ul class="top-footer__list">
							<li class="top-footer__item">
								<a href="#" class="top-footer__link active">
									Medical Practice and pOpmètre®
									<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"
										fill="none">
										<path
											d="M0.495033 9.36621L9.16133 0.699908M0.822064 0.699909L9.16133 0.699908L9.16133 9.03918"
											stroke="#404040" stroke-opacity="0.4" stroke-width="1.4" />
									</svg>
								</a>
							</li>
							<li class="top-footer__item">
								<a href="#" class="top-footer__link">
									PPG Technology and pOpmètre®
								</a>
							</li>
							<li class="top-footer__item">
								<a href="#" class="top-footer__link">
									Order pOpmètre®
								</a>
							</li>
						</ul>
						<ul class="top-footer__list">
							<li class="top-footer__item">
								<a href="#" class="top-footer__link">
									Cardiovascilar Risks
								</a>
							</li>
							<li class="top-footer__item">
								<a href="#" class="top-footer__link">
									Axelife
								</a>
							</li>
							<li class="top-footer__item">
								<a href="#" class="top-footer__link">
									Blog
								</a>
							</li>
							<li class="top-footer__item">
								<a href="#" class="top-footer__link">
									Press & Media
								</a>
							</li>
							<li class="top-footer__item">
								<a href="#" class="top-footer__link">
									Partners
								</a>
							</li>
						</ul>
						<ul class="top-footer__list">
							<li class="top-footer__item">
								<a href="#" class="top-footer__link">
									X (Twitter)
								</a>
							</li>
							<li class="top-footer__item">
								<a href="#" class="top-footer__link">
									Facebook
								</a>
							</li>
							<li class="top-footer__item">
								<a href="#" class="top-footer__link">
									Instagram
								</a>
							</li>
							<li class="top-footer__item">
								<a href="#" class="top-footer__link">
									YouTube
								</a>
							</li>
							<li class="top-footer__item">
								<a href="#" class="top-footer__link">
									LinkedIn
								</a>
							</li>
						</ul>
						<ul class="top-footer__list">
							<li class="top-footer__item">
								<a href="#" class="top-footer__link">
									Legal notices
								</a>
							</li>
							<li class="top-footer__item">
								<a href="#" class="top-footer__link">
									Privacy policy
								</a>
							</li>
							<li class="top-footer__item">
								<a href="#" class="top-footer__link">
									Terms and conditions
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer__bottom bottom-footer">
				<div class="bottom-footer__container">
					<a href="#" class="bottom-footer__logo">
						<img src="@img/logo.svg" loading="lazy" decoding="async" alt="axelife">
					</a>
					<div class="bottom-footer__text">
						Manufactured by Axelife, the pOpmètre® is a Class IIa medical device, a regulated healthcare
						product bearing the CE 1282 mark for measuring arterial stiffness. For further information,
						please refer to the instructions for use.
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>