<header data-fls-header class="header">
	<div class="header__container">
		<img src="@img/header/logo.png" class="header__logo" alt="axelife">
		<include src="@components/layout/menu/menu.html" locals='{"active":"[[active]]"}'></include>

		<div data-fls-dynamic=".menu__body, 991.98" class="header__actions">
			<button type="button" class="header__button button button--primary">
				Order</button>
			<a href="mailto:sds@mail.com" class="header__button button button--icon button--accent">
				Contact
			</a>
		</div>
	</div>
</header>