<footer data-fls-footer data-fls-watcher-once data-fls-watcher data-fls-watcher-threshold="0.3" class="footer">
	<div class="footer__top top-footer">
		<div class="top-footer__container">
			<div data-fls-watcher-once data-fls-watcher data-fls-watcher-threshold="0.3" class="top-footer__left tov">
				<h2 class="top-footer__title">
					Don't miss any information!
				</h2>
				<form data-fls-form class="form-subscribe">
					<div class="form-subscribe__field">
						<label for="email" class="form-subscribe__label sr-only">
							Email address
						</label>

						<input type="email" id="email" name="email" data-fls-form-errtext="Invalid Email Address"
							class="form-subscribe__input form-subscribe__input--gray" placeholder="Enter e-mail address"
							autocomplete="email" inputmode="email" required aria-required="true">
					</div>

					<button class="form-subscribe__button button button--primary">
						Subscribe
					</button>
				</form>
				<div class="top-footer__text">
					<p>
						Subscribe to email updates and be the first to receive the latest news from Axelife. We
						care about your data in <span class="underlined">our privacy policy.</span>
					</p>
				</div>
			</div>
			<div class="top-footer__right">
				<ul data-fls-watcher-once data-fls-watcher data-fls-watcher-threshold="0.3"
					class="top-footer__list tov">
					<li class="top-footer__item">
						<a href="#" class="top-footer__link active">
							Medical Practice and pOpmètre®
							<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"
								fill="none">
								<path
									d="M0.495033 9.36621L9.16133 0.699908M0.822064 0.699909L9.16133 0.699908L9.16133 9.03918"
									stroke="#404040" stroke-opacity="0.4" stroke-width="1.4" />
							</svg>
						</a>
					</li>
					<li class="top-footer__item">
						<a href="#" class="top-footer__link">
							PPG Technology and pOpmètre®
						</a>
					</li>
					<li class="top-footer__item">
						<a href="#" class="top-footer__link">
							Order pOpmètre®
						</a>
					</li>
				</ul>
				<ul data-fls-watcher-once data-fls-watcher data-fls-watcher-threshold="0.3"
					class="top-footer__list tov">
					<li class="top-footer__item">
						<a href="#" class="top-footer__link">
							Cardiovascilar Risks
						</a>
					</li>
					<li class="top-footer__item">
						<a href="#" class="top-footer__link">
							Axelife
						</a>
					</li>
					<li class="top-footer__item">
						<a href="#" class="top-footer__link">
							Blog
						</a>
					</li>
					<li class="top-footer__item">
						<a href="#" class="top-footer__link">
							Press & Media
						</a>
					</li>
					<li class="top-footer__item">
						<a href="#" class="top-footer__link">
							Partners
						</a>
					</li>
				</ul>
				<ul data-fls-watcher-once data-fls-watcher data-fls-watcher-threshold="0.3"
					class="top-footer__list tov">
					<li class="top-footer__item">
						<a href="#" class="top-footer__link">
							X (Twitter)
						</a>
					</li>
					<li class="top-footer__item">
						<a href="#" class="top-footer__link">
							Facebook
						</a>
					</li>
					<li class="top-footer__item">
						<a href="#" class="top-footer__link">
							Instagram
						</a>
					</li>
					<li class="top-footer__item">
						<a href="#" class="top-footer__link">
							YouTube
						</a>
					</li>
					<li class="top-footer__item">
						<a href="#" class="top-footer__link">
							LinkedIn
						</a>
					</li>
				</ul>
				<ul data-fls-watcher-once data-fls-watcher data-fls-watcher-threshold="0.3"
					class="top-footer__list tov">
					<li class="top-footer__item">
						<a href="#" class="top-footer__link">
							Legal notices
						</a>
					</li>
					<li class="top-footer__item">
						<a href="#" class="top-footer__link">
							Privacy policy
						</a>
					</li>
					<li class="top-footer__item">
						<a href="#" class="top-footer__link">
							Terms and conditions
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer__bottom bottom-footer">
		<div class="bottom-footer__container">
			<a data-fls-watcher-once data-fls-watcher data-fls-watcher-threshold="0.3" href="#"
				class="bottom-footer__logo tov">
				<img src="@img/logo.svg" loading="lazy" decoding="async" alt="axelife">
			</a>
			<div data-fls-watcher-once data-fls-watcher data-fls-watcher-threshold="0.3"
				class="bottom-footer__text tov">
				Manufactured by Axelife, the pOpmètre® is a Class IIa medical device, a regulated healthcare
				product bearing the CE 1282 mark for measuring arterial stiffness. For further information,
				please refer to the instructions for use.
			</div>
		</div>
	</div>
</footer>